<a href="https://colab.research.google.com/github/tanjirultusher/PYTHON-A2Z/blob/main/PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***START LEARNING PYTHON ***

In [ ]:
#print something in python
print("python is fun")
print("I am learning python")

#print something in python
print("python is fun")
print("I am learning python")

f_name = "Tanjirul"
l_name = "Tusher"
print("Name:",f_name,l_name)

python is fun
I am learning python
python is fun
I am learning python
Name: Tanjirul Tusher

In [ ]:
s = 'First line.\nSecond line.'  # \n means newline
#s  # without print(), special characters are included in the string
print(s)  # with print(), special characters are interpreted, so \n produces new line

First line.
Second line.

In [ ]:
a="i loved movie 'Big Hero 6'\n"
b='i loved movie "Big Hero 6"\n'
c="i loved movie \"Big Hero 6\"\n"
print(a,b,c)

**PYTHON IDENTITY OPERATOR**:

In [ ]:
X = 10
Y = 10
Z = 7

print( X is Y)
print(X is Z)
print('\n')
print(X is not Z)
print(X is not Y)

True
False


True
False

**PYTHON MEMBERSHIP OPERATOR**

In [ ]:
x = " tusher"
print('h' in x)
print('h' not in x)
print('i' in x)
print('i' not in x)

True
False
False
True

**KEYWORD ARGUMENT END**

In [ ]:
print("python is fun. ",end="")
print("I am learning python")

python is fun. I am learning python

**KEYWORD ARGUMENT SEP**

In [ ]:
print("Hello","world")
print("Hello","world",sep='....')
print("Hello","world",sep='/')
print("Hello","world",sep='\n')

Hello world
Hello....world
Hello/world
Hello
world

**GETTING INPUT IN PYTHON**

In [ ]:
#how to get input
a=input("enter your name:")
print(a)
print("my name is",input("enter your name:"))
#getting integer as input
b=int(input("enter a number: "))
print(b)
#getting float as input
c=float(input("enter a number: "))
print(c)

enter your name:tusher
tusher
enter your name:tusher
my name is tusher
enter a number: 2
2
enter a number: 2
2.0

In [ ]:
#input multiple value in one line
x,y,z = input("enter three numbers: ").split(",",3)
print("x is:",x)
print("y is:",y)
print("z is:",z)

enter three numbers: 1,2,3
x is: 1
y is: 2
z is: 3

**PYTHON NUMBER**

In [ ]:
a = 10  # declare a variable and assign vale to it
b = 20.5  # float
#addition
c = a + b
print(c)
#subtraction
d = b-a
print(d)
#multiplication
e=a*b
print(e)
#division
f=b/a
print(f)
#exponential
g = a**b
print(g)
#floor division
h = a//b
print(h)
width = 20
height = 5 * 9
print(width * height)

30.5
10.5
205.0
2.05
3.1622776601683794e+20
0.0
900

In [ ]:
#temperature convert celcius to fahrenheit
c=int(input("enter celcius temprature:"))
f=(c*9/5)+32
print("fahrenheit teamperature=",f)

**PYTHON CONTROL FLOW: CONDITINAL STATEMENT**

In [ ]:
a = 15
if( a > 10 ):
  print("a is grater than 10")
print("code ended")

a is grater than 10
code ended

In [ ]:
#a = 16
a = int(input("enter a number:"))
if(a>0):
  print("a is positive number")
else:
  print("a is negative number")

enter a number:-1
a is negative number

In [ ]:
x = 16
if(x % 2 == 0):
  print("x is positive number")
else:
  print("x is negative number")

x is positive number

In [ ]:
a = 10
b = 13
if(a > b):
  print("a is grater than b.")
elif(a < b):
  print("a is less than b")
else:
  print("a and b are equal")

a is less than b

In [ ]:
num =  4
if num >= 0:
  if num == 0:
    print("zero")
  else:
    print("positive number")
else:
  print("negative number")

positive number

**PYTHON CONTROL FLOW: LOOP**

**WHILE LOOP**

In [ ]:
count = 1
while (count <= 5):
  print("Hello! Tusher")
  count += 1

Hello! Tusher
Hello! Tusher
Hello! Tusher
Hello! Tusher
Hello! Tusher

In [ ]:
count = 1
while (count <= 5):
  count += 1
  if (count == 4):
    continue
  print("Hello! Tusher")

Hello! Tusher
Hello! Tusher
Hello! Tusher
Hello! Tusher

In [ ]:
#nested while loop
outer = 1
while (outer <= 2):
  inner = 1
  while (inner <= 3):
    print("hi,Tusher")
    inner += 1
  print("inner loop terminate")
  outer += 1
print("outer loop terminate")

hi,Tusher
hi,Tusher
hi,Tusher
inner loop terminate
hi,Tusher
hi,Tusher
hi,Tusher
inner loop terminate
outer loop terminate

In [ ]:
count = 1
while (count <= 5):
  count += 1
  if (count == 4):
    break
  print("Hello! Tusher")

In [ ]:
count = 1
while (count <= 50):
  if(count % 2 == 0):
    print(count, end="  ")
  count +=1

2  4  6  8  10  12  14  16  18  20  22  24  26  28  30  32  34  36  38  40  42  44  46  48  50

**FOR LOOP**

In [ ]:
for i in range(10):
  print(i, end=" ")
print('\n')
for i in range(3,10):
  print(i, end=" ")
print('\n')
for i in range(1,10,2):
  print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

3 4 5 6 7 8 9

1 3 5 7 9

**STRING**: String are immutable. Once a string is creating it can't be changed.

In [ ]:
word = 'Python'     # string indexing start at 0
print(word[0])      # character in position 0
print(word[5])      # character in last position
print(word[-1])     # character in last position
print(word[0:2])    # characters from position 0 (included) to 2 (excluded)
print(word[2:])     # characters from position 2 (included) to the end
print(word[:2])     # character from the beginning to position 2 (excluded)
print(word[:2] + word[2:])
print(word[:4] + word[4:])
print('J' + word[1:])
print(len(word))    #len() is a built in function that returns the length of a string

P
n
n
Py
thon
Py
Python
Python
Jython
6

In [ ]:
# iterating over string
index = 0
name = "Tanjirul Tusher"
while index < len(name):
  print(name[index], end='   ')
  index += 1
print('\n')
#using for loop

for char in name:
  print(char, end='   ')

T   a   n   j   i   r   u   l       T   u   s   h   e   r

T   a   n   j   i   r   u   l       T   u   s   h   e   r

In [ ]:
#string concatenition
name = input("enter yout name:")
a = "Hello," + name + "! Nice to meet you."
print(a)

enter yout name:tusher
Hello,tusher! Nice to meet you.

In [ ]:
#deletion
name = "My name is Tusher"
del(name)
#print(name)
# output: name is not defined

In [ ]:
#loop in string
for x in range(0,4,1):
  print("Hi",end=" ")

Hi Hi Hi Hi

In [ ]:
#checking string membership
x = " tusher"
print('h' in x)
print('h' not in x)
print('i' in x)
print('i' not in x)

True
False
False
True

In [ ]:
a = "Tanjirul Tusher"
b = a.lower()
c = a.upper()
print(a)
print(b)
print(c)
print(a.count('T'))

Tanjirul Tusher
tanjirul tusher
TANJIRUL TUSHER
2

**PYTHON LIST:**
List is a collection  which can be written as a list of comma-separated values (items) between square brackets. Allows duplicate members.List is ordered and changeable.Lists might contain items of different types, but usually the items all have the same type.

In [ ]:
squares = [1, 4, 9, 16, 25]
print(len(squares))
print(squares)
print(squares[0])  # indexing returns the item
print(squares[-1])
#list slicing
print(squares[0:2])
print(squares[:2])
print(squares[2:])
print(squares[-3:])  # slicing returns a new list
squares.append(36)
print(squares)

5
[1, 4, 9, 16, 25]
1
25
[1, 4]
[1, 4]
[9, 16, 25]
[9, 16, 25]
[1, 4, 9, 16, 25, 36]

In [ ]:
#add item in list
cars = ["BMW", "LAMBORGINI", "AUDI"]
print(cars)
cars.append("FORD")
print(cars)
cars[1] = "PORSCHE"
print(cars)
cars.insert(1,"LAMBORGINI")
print(cars)
cars.extend(["Ferrari"])
print(cars)
x= cars.count("BMW")
print(x)

['BMW', 'LAMBORGINI', 'AUDI']
['BMW', 'LAMBORGINI', 'AUDI', 'FORD']
['BMW', 'PORSCHE', 'AUDI', 'FORD']
['BMW', 'LAMBORGINI', 'PORSCHE', 'AUDI', 'FORD']
['BMW', 'LAMBORGINI', 'PORSCHE', 'AUDI', 'FORD', 'Ferrari']
1

In [ ]:
#remove item in cars
cars = ['BMW', 'LAMBORGINI', 'PORSCHE', 'AUDI', 'FORD']
cars2 = cars.copy()   #copy a list
print(cars)
print(cars2)
del cars[0]
print(cars)
cars.pop(1)
print(cars)
print(cars.clear())
cars2.remove("BMW")
print(cars2)

['BMW', 'LAMBORGINI', 'PORSCHE', 'AUDI', 'FORD']
['BMW', 'LAMBORGINI', 'PORSCHE', 'AUDI', 'FORD']
['LAMBORGINI', 'PORSCHE', 'AUDI', 'FORD']
['LAMBORGINI', 'AUDI', 'FORD']
None
['LAMBORGINI', 'PORSCHE', 'AUDI', 'FORD']

In [ ]:
# joining two list
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
list3 = list1 + list2
print(list3)
list

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# convert sentence into list
s = "python is fun"
print(s.split())

a = "i am learning python"
print(list(a))

['python', 'is', 'fun']
['i', ' ', 'a', 'm', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [ ]:
#single line list input
user_list = [int(x) for x in input("Enter elements separated by space:").split()]
print(user_list)
print('\n')
#single line string input in list
numbers = input().split()  # Input: "7 13 2 10 6 -11 0"
print(numbers)

Enter elements separated by space:1 2 3 4
[1, 2, 3, 4]


tanjirul alam tusher
['tanjirul', 'alam', 'tusher']

In [ ]:
# LOOP OPERATION IN LIST
a = [1,2,3,4,5]
for i in a:
  print(i, end=" ")

1 2 3 4 5

In [ ]:
b = ["tusher", "liza", "bulbul"]
for i in b:
  print('helli',i)

helli tusher
helli liza
helli bulbul

In [ ]:
a = [ 22, 44, 11, 34, 54]
sum = 0
for i in a:
  sum = sum + i
print("sum:",sum)

sum: 165

In [ ]:
a = [ 22, 44, 11, 34, 54]
largest = 1
for i in a:
  if i > largest:
    largest = i
print("largest number in this array is",i)

largest number in this array is 54

In [ ]:
flowers = ["lily", "rose", "orchid"]
for i, x in enumerate(flowers):
    if i == len(flowers) - 1:
        print(x)
    else:
        print(x, end=", ")

lily, rose, orchid

In [ ]:
#list method
list1 = [6,3,19,55,1,99]
list1.sort()
print(list1)

list2 = [1, 3, 6, 19, 55, 99]
list2.reverse()
print(list2)

[1, 3, 6, 19, 55, 99]
[99, 55, 19, 6, 3, 1]

In [ ]:
#transpose matrix
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
print([[row[i] for row in matrix] for i in range(4)])

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

**PYTHON TUPLE**: Tuple is a collection which is ordered and unchangeable. Allows duplicate members. Tuples are used to store multiple items in a single variable. Tuples are written with round brackets. Tupe item can be any data type.

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)
mtuple = ("apple",)#One item tuple, remember the comma other it is act as string
print(type(mtuple))
print(mytuple[1]) # access typle  print(mytuple[-1]) Negative indexing means start from the end.

In [ ]:
#One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
#Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
y.append("orange")
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry', 'orange')

In [ ]:
#loop in tuple
a = ("apple", "banana", "cherry")
for x in a:
  print(x)

apple
banana
cherry

In [ ]:
#Join two tuples:

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**PYTHON SET**: Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members. Sets are written with curly brackets. Set items can be of any data type.

In [ ]:

myset = {"apple", "banana", "cherry"}
print(myset)
print(len(myset))
print(type(myset))
for x in myset:
  print(x)

# add item in set
myset.add("orange")
print(myset)

#we cannot access items in a set by referring to an index or a key.
#But we can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.
print("banana" in myset)
for x in myset:
  print(x)

# romove item form set
myset.remove("banana")
print(myset)

{'cherry', 'banana', 'apple'}
3
<class 'set'>
cherry
banana
apple
{'orange', 'cherry', 'banana', 'apple'}
True
orange
cherry
banana
apple
{'orange', 'cherry', 'apple'}

In [ ]:
#join set
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

set4 = set1 | set2
print(set4)

{'b', 1, 2, 3, 'a', 'c'}
{'b', 1, 2, 3, 'a', 'c'}

**PYTHON DICTONARIES**: Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict["brand"])
x = thisdict.get("model")
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
Mustang

In [ ]:
#The keys() method will return a list of all the keys in the dictionary.
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
print(car)

z = car["brand"] #access item (z = thisdict.get("model"))
print(z)

x = car.keys()
y = car.values()
print(x) #before the change
print(y)

car["color"] = "white" #add items in dictonary
print(x) #after the change
y = car.values()
print(y)
car.pop("model") #remove item in dictonary
print(thisdict)
car.popitem() #The popitem() method removes the last inserted item
print(car)

#loop in dictonaries
for x in car.keys():
  print(x)
for x in car.values():
  print(x)

mydict = car.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['Ford', 'Mustang', 1964, 'white'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'year': 1964}
brand
year
Ford
1964
{'brand': 'Ford', 'year': 1964}

In [ ]:
# Initialize an empty dictionary
user_dict = {}
# Loop to get key-value pairs from the user
while True:
    # Get key from the user
    key = input("Enter the key (or 'done' to finish): ")

    if key.lower() == 'done':
        break
    # Get value from the user
    value = input(f"Enter the value for '{key}': ")

    # Store the key-value pair in the dictionary
    user_dict[key] = value

# Display the resulting dictionary
print("The dictionary you created is:")
print(user_dict)

**PYTHON FUNCTION**: A function is a block of code which only runs when it is called. We can pass data, known as parameters, into a function. A function can return data as a result. In Python a function is defined using the "def" keyword.

In [ ]:
def my_function():
  print("hello tusher")
my_function()
my_function()

hello tusher
hello tusher

In [ ]:
def compare(x,y):
  max = 0
  if x>y:
    max=x
  else:
    max=y
  return max
print(compare(10,20))

20

In [ ]:
def my_function(fname):
  print("hello",fname)
my_function("alice")
my_function("bob")
my_function("carol")

hello alice
hello bob
hello carol

In [ ]:
def my_function(name,place):           # a function must be called with the correct nymber of arguments otherwise we will get an error
  print(name,"goes to",place)
my_function("alice","shopping complex")

alice goes to shopping complex

**UNKNOWN NUMBER OF ARGUMENTS** ( *arg ): IF we don't know how many arguments will be passed to our function, then we can add an asteric ( * ) before the parameter number in the function definition.

In [ ]:
#UNKNOWN NUMBER OF ARGUMENTS ( *arg )
def my_function(*kids):
  print("the first child is",kids[0])
my_function("alice","bob","carol")

the first child is alice

In [ ]:
def display(*msg):
  for x in msg:
    print(x, end=" ")
display("python", "is", "fun")

python is fun

In [ ]:
def display(msg1,*msg):
  print(msg1)
  print(msg)
display("python", "is", "fun")

python
('is', 'fun')

**KEYWORDS ARGUMENTS:** We can also sends arguments with key = value syntax. In this way order of the arguments does not matter.

In [ ]:
def my_function(child1, child2, child3):
  print("the youngest child is",child3)

my_function(child1 = 'david', child2 = 'alice', child3 = 'bob')

the youngest child is bob

**UNKNOWN NUMBER OF KEYWORDS ARGUMENTS:** If we do not know how many keyword arguments that will be passed into our function, add two asterisk: ** before the parameter name in the function definition.

In [ ]:
#unknown number of keyward argument
def my_function(**car):
  print("Car name is",car["name"],".",end="")
  print("Car model is",car["model"])
my_function(name="BMW",model="Aventador")

Car name is BMW .Car model is Aventador

**Default Parameter Value:** In functions parameters list we can specify a default values ( s ) for one or more arguments. A default value can be written as "parameter_name = value "

In [ ]:
def square(x, y=2):
  return (x*x + 2*x*y + y*y)

print('the square of the sum of 2 and 2 is:',square(2))
print('the square of the sum of 4 and 2 is:',square(4))

the square of the sum of 2 and 2 is: 16
the square of the sum of 4 and 2 is: 36

**Passing a List as an Argument**

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

**Passing the function as an argument**

In [ ]:
def shout(text):
    return text.upper()

def whisper(text):
    return text.lower()

def greet(func):
    # storing the function in a variable
    greeting = func("""Hi, I am created by a function passed as an argument.""")
    print (greeting)

greet(shout)
greet(whisper)

HI, I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT.
hi, i am created by a function passed as an argument.

**Returning the function from another function**

In [ ]:
def create_adder(x):
    def adder(y):
        return x+y

    return adder

add_15 = create_adder(15)

print(add_15(10))

25

In [ ]:
def add(x, y):
    return x + y

def calculate(func, x, y):
    return func(x, y)

result = calculate(add, 4, 6)
print(result)  # prints 10

10

**Return a Function as a Value**

In [ ]:
def greeting(name):
    def hello():
        return "Hello, " + name + "!"
    return hello

greet = greeting("Tusher")
print(greet())  # prints "Hello, Tusher!"

Hello, Atlantis!

**PYTHON DECORATORS**

In Python, a decorator is a design pattern that allows you to modify the functionality of a function by wrapping it in another function.

The outer function is called the decorator, which takes the original function as an argument and returns a modified version of it.

In [ ]:
def make_pretty(func):
    def inner():
        print("I got decorated")
        func()
    return inner
def ordinary():
    print("I am ordinary")        # Output: I am ordinary

# decorate the ordinary function
decorated_func = make_pretty(ordinary)

# call the decorated function
decorated_func()

I got decorated
I am ordinary

In [ ]:
# symbol with decorator @
def make_pretty(func):

    def inner():
        print("I got decorated")
        func()
    return inner

@make_pretty
def ordinary():
    print("I am ordinary")

ordinary()

I got decorated
I am ordinary

In [ ]:
def smart_divide(func):
    def inner(a, b):
        print("I am going to divide", a, "and", b)
        if b == 0:
            print("Whoops! cannot divide")
            return

        return func(a, b)
    return inner

@smart_divide
def divide(a, b):
    print(a/b)

divide(2,5)

divide(2,0)

I am going to divide 2 and 5
0.4
I am going to divide 2 and 0
Whoops! cannot divide

In [ ]:
# chaining decorator in python
def star(func):
    def inner(*args, **kwargs):
        print("*" * 15)
        func(*args, **kwargs)
        print("*" * 15)
    return inner


def percent(func):
    def inner(*args, **kwargs):
        print("%" * 15)
        func(*args, **kwargs)
        print("%" * 15)
    return inner


@star
@percent
def printer(msg):
    print(msg)

printer("Hello")

***************
%%%%%%%%%%%%%%%
Hello
%%%%%%%%%%%%%%%
***************

**Python Lambda:** A lambda function is a small anonymous function.A lambda function can take any number of arguments, but can only have one expression. syntax: lambda arguments : expression

In [ ]:
greet = lambda: print('hello, Tuhser')
greet()

hello, Tuhser

In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

**Python Try Except:**  
The try block lets you test a block of code for errors.

The except block lets you handle the error.

The else block lets you execute code when there is no error.

The finally block lets you execute code, regardless of the result of the try- and except blocks.

In [ ]:
def divide_numbers(numerator, denominator):
    try:
        result = numerator / denominator
    except ZeroDivisionError:
        print("Error: Cannot divide by zero!")
        result = None
    except TypeError:
        print("Error: Both numerator and denominator must be numbers!")
        result = None
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        result = None
    else:
        print(f"The result is {result}")
    finally:
        print("Execution complete.")
    return result

# Example usage:
divide_numbers(10, 2)  # Expected output: The result is 5.0
divide_numbers(10, 0)  # Expected output: Error: Cannot divide by zero!
divide_numbers(10, 'a')  # Expected output: Error: Both numerator and denominator must be numbers!

The result is 5.0
Execution complete.
Error: Cannot divide by zero!
Execution complete.
Error: Both numerator and denominator must be numbers!
Execution complete.

**PYTHON FILE HANDLING:**

File handling is an important part of any web application.
Python has several functions for creating, reading, updating, and deleting files.

In [ ]:
f = open("demofile2.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("demofile2.txt", "r")
print(f.read())

Now the file has more content!

In [ ]:
# "w" - Write - will overwrite any existing content
f = open("demofile3.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

# "a" - Append - will append to the end of the file
f = open("demofile3.txt", "a")
f.write("\n Now the file has more content!")
f.close()

# open and read the file after the overwriting:
f = open("demofile3.txt", "r")
print(f.read())

Woops! I have deleted the content!
 Now the file has more content!

**FUNCTION, VARIABLE SCOPE, LOCAL, GLOBAL, NON-LOCAL**

In [ ]:
def my_Function():
  b = 'local b'
  print(b)
my_Function()

local b

In [ ]:
def my_Function():
  b = 'local b'
  print(b)
my_Function()
#print(b)       #

local b

In [ ]:
b = 'global b'
def my_Function():
  b = 'local b'
  print(b)
my_Function()
print(b)

local b
global b

In [ ]:
b = 'global b'
def my_Function():
  #b = 'local b'
  print(b)
my_Function()
print(b)

global b
global b

In [ ]:
b = 'global b'
def my_Function():
  b = 'local b'
  print(b)
  b = b + ' test'
  print(b)
my_Function()
print(b)

local b
local b test
global b

In [ ]:
b = 'global b'
def my_Function():
  global b
  b = b + ' test'
  print(b)
my_Function()
print(b)

global b test
global b test

In [ ]:
b = 'global b'
def outer_f():
  b = 'outer b'
  def inner_f():
    b = 'inner b'
    print(b)
  inner_f()
  print(b)

outer_f()

inner b
outer b

In [ ]:
b = 'global b'
def outer_f():
  #b = 'outer b'
  def inner_f():
    #b = 'inner b'
    print(b)
  inner_f()
  print(b)

outer_f()

global b
global b

In [ ]:
b = 'global b'
def outer_f():
  b = 'outer b'
  def inner_f():
    #b = 'inner b'
    nonlocal b
    b = b + ' test'
    print(b)
  inner_f()
  print(b)

outer_f()

outer b test
outer b test

# PYTHON-OBJECT ORIENTED PROGRAMMING
**CLASS:** A Class is like an object constructor, or a "blueprint" for creating objects.   
**OBJECT**: An object is an element (or instance) of a class; objects have the behaviors of their class.  
**METHOD**: Functions that are associated with an object or a class in Python programming.          
**CONSTRUCTOR:**  a special class method for creating and initializing an object instance at that class.

In [ ]:
#declaring a class
class Person:

  name = ""           #class property
  roll = ""            #class property


#==================================================

#creating object/instance
#variable = class_name
p1 = Person()

p1.name = "Rahim"
p1.roll = 101

print(isinstance(p1,Person))
print(f"Name: {p1.name}, Roll: {p1.roll}")

True
Name: Rahim, Roll: 101

In [ ]:
#declaring a class
class Person:

  #instance method
  def display(self):
     print(f"Name: {p1.name}, Roll: {p1.roll}")

#creating object/instance
p1 = Person()             #instance 1
p2 = Person()             #instance 2

p1.name = "Rahim"
p1.roll = 101

p1.name = "Karim"
p1.roll = 102

print(isinstance(p1,Person))
print(isinstance(p2,Person))
p1.display()
p2.display()

True
True
Name: Karim, Roll: 102
Name: Karim, Roll: 102

In [ ]:
#declaring a class
class Person:

  #instance method
  def set_value(self,name,roll):
      self.name = name
      self.roll = roll

  #instance method
  def display(self):
     print("Name:",self.name,'\n' "Roll:",self.roll)

p1 = Person()

p1.set_value("Rahim",101)
p1.display()

Name: Rahim
Roll: 101

In [ ]:
class house:

  #constructor
  def __init__(self):
      self.window = 4         #instance variable
      self.door = 2            #instance variable
  #instance method
  def view(self):
     print(self.window,"windows",self.door,"doors")

h1 = house()

h1.view()

h1.window = 6
h1.door = 4

h1.view()
print(isinstance(h1,house))

4 windows 2 doors
6 windows 4 doors
True

In [ ]:
class Person:

  #parameterized constructor
  def __init__(self,name,roll):
      self.name = name            #instance variable
      self.roll = roll            #instance variable

  #instance method
  def display(self):
     print("Name:",self.name ,'\n' "Roll:",self.roll)

p1 = Person("Rahim",101)
p1.display()

print(isinstance(p1,Person))

Name: Rahim
Roll: 101
True

In [ ]:
class car:

  def __init__(self,name,model):
    self.name = name
    self.model_year = model
    self.wheel = 4

  def view(self):
    print("The model of this",self.name,"is",self.model_year)
    print("It is a",self.wheel,"wheel car.")

#===========================================================================
car1 = car("Audi",2024)
car2 = car("Marcedes", 2023)

car1.view()
car2.view()

The model of this Audi is 2024
It is a 4 wheel car.
The model of this Marcedes is 2023
It is a 4 wheel car.

In [ ]:
class dog:

  def __init__(self,name,color):
      self.name = name            #instance variable
      self.color = color           #instance variable

  def update_color(self,color):
       self.color = color

  def view(self):
     print(self.color,self.name,"is smiling")

d1 = dog("Rover", "Brown")
d1.view()

d1.update_color("White")
d1.view()

Brown Rover is smiling
White Rover is smiling

In [ ]:
class book:
  def __init__(self, name, author):
    self.name = name
    self.author = author
    self.price = 0

  def set_price(self, price):
    self.price = price

  def get_price(self):
    return self.price

  def display(self):
    print("\nBook Name:", self.name,
          "\nAuthor:", self.author,
          "\nPrice:", self.price,"Taka")

#==================================================================
b1 = book("Opekkha","Humayun Ahmed")
b1.display()

b1.set_price(255)
x = b1.get_price()
print('\n',x,'taka')
b1.display()

Book Name: Opekkha
Author: Humayun Ahmed
Price: 0 Taka

 255 taka

Book Name: Opekkha
Author: Humayun Ahmed
Price: 255 Taka

In [ ]:
class cat:

  def __init__(self,name,action):
      self.name = name            #instance variable
      self.action = action          #instance variable


  def view(self):
     print(self.action,"is smiling",self.name,)

  def compare(self,ct):
    if self.action == ct.action:
      print("Both car are",self.action)
    else:
      print("They are different")


#==============================================================
c1 = cat("brown", "jumping")
c2 = cat("white","sitting")
c1.view()
c2.view()
c1.compare(c2)

jumping is smiling brown
sitting is smiling white
They are different

In [ ]:
#pass by value, pass by reference
class cat:

  def __init__(self,name,action):
      self.name = name            #instance variable
      self.action = action          #instance variable


  def view(self,num,clr):
    num = num + 5
    clr1 = clr
    clr1[0] = 'green'

    print('method inside:',num)
    print('method inside',clr1)

#==============================================================
color = ['black', 'red', 'yellow', 'blue']
c1 = cat("brown", "jumping")
x = 55
c1.view(x,color)

method inside: 60
method inside ['green', 'red', 'yellow', 'blue']

**PYTHON POLYMORPHISM**

In [ ]:
#method overloading
class calculator:

  def product(self, *nums):
    pro = 1
    for x in nums:
      pro = pro * x

    print(pro)

#===========================================
c1 = calculator()
c1.product(1)
c1.product(4,3)
c1.product(5,9,2)

1
12
90

In [ ]:
# way-2 method overloading

class calculator:
  def product(self, num1, num2 = None, num3 = None,):
    if num1 != None and num2 != None and num3 != None:
      print(num1*num2*num3)
    elif num1 != None and num2 != None:
       print(num1*num2)
    else:
       print(1*num1)

#===========================================
c1 = calculator()
c1.product(1)
c1.product(4,3)
c1.product(5,9,2)

1
12
90

In [ ]:
#constructor overloading
class student:
  '''def __init__(self,name,id):
      self.name = name
      self.id = id  '''

  def __init__(self, *info):
    if len(info) == 3 :
      self.name = info[0]
      self.id = info[1]
      self.cgpa = info[2]

    elif len(info) == 3 :
      self.name = info[0]
      self.id = info[1]

    elif len(info) == 1 :
      self.name = info[0]


    print('A student object is created')


#========================================================
s1 = student('Tanjirul', 101)
s2 = student ('Tusher', 102, 3.85)
s3 = student('mike')

A student object is created
A student object is created
A student object is created

In [ ]:
#operator overloading
class data:
  def __init__(self,x):
    self.x = x

  #adding two object
  def __add__(self,other):
    return self.x + other.x

  def __gt__(self,other):
    if(self.x > other.x):
      return True
    else:
      return False

  def __eq__(self,other):
    if(self.x == other.x):
      return "both are equal"
    else:
      return "not equal"

#=========================================
num1 = data(10)
print(type(num1))
num2 = data(20)
print(num1 + num2)      # num1 .__add__(num2)

if (num1 > num2):
  print("num1 is grater than num2")
else:
  print("num2 is grater than num2")       # num1 .__gt__(num2)

print (num1 == num2)         # num1.__eq__(num2)

<class '__main__.data'>
30
num2 is grater than num2
not equal

In [ ]:
# operator overloading

class house:
  #constructor
  def __init__(self,w,d):
      self.window = w         #instance variable
      self.door = d            #instance variable
  #instance method
  def view(self):
     print("the house has",self.window,"windows and",self.door,"doors")

  def __add__(self,other):
    new_window = self.window + other.window
    new_door = self.door + other.door

    obj = house(new_window,new_door)
    return obj
    #return "new house has " + str(new_window)," windows and " + str(new_door) + " doors"

h1 = house(6,2)
h2 = house(4,1)
h1.view()
h2.view()

h3 = h1 + h2            # h1.__add__(h2)
h3.view()

#print(h1+h2)            #h1.__add__(h2)

the house has 6 windows and 2 doors
the house has 4 windows and 1 doors
the house has 10 windows and 3 doors

**PYTHON ENCAPSULATION**

In [ ]:
# pyhton encapsulation
class Student:
  def __init__(self, name, id):
      self.name = name     #instance variable
      #self.id = id        #instance variable
      self.__id = id       #private instance variable
  def view(self):
    #print("Name:", self.name, "\nId:", self.id)
    print("Name:", self.name, "\nId:", self.__id)


  def update_id(self,id):
    if(id>0):
      self.__id = id
    else:
      print("Invalid id, enter id again.")

#=================================
s1 = Student("tusher",101)

#s1.id = 100        #
s1.update_id(-55)

s1.view()
#print(s1.__id)       #'Student' object has no attribute 'id'

Invalid id, enter id again.
Name: tusher
Id: 101

In [ ]:
class Student:
  def __init__(self, name, id):
      self.name = name     #instance variable
      #self.id = id        #instance variable
      self.__id = id       #private instance variable
  def view(self):
    print("Name:", self.name, "\nId:", self.__id)

  def set_id(self,id):
    if(id>0):
      self.__id = id
    else:
      print("Invalid id, enter id again.")

  def get_id(self):
    return self.__id

  def set_name(self,name):
    self.name = name

  def get_name(self):
    return self.name

#=================================
s1 = Student("tusher",101)
s1.view()

s1.set_id(100)
s1.set_name("Tanjirul")

s1.view()

Name: tusher
Id: 101
Name: Tanjirul
Id: 100

**CLASS OR STATIC VARIABLE**

In [ ]:
#cLass or static variable
class player:

  team_run = 0

  def __init__(self, run):
    self.run = run

  def hit_four(self):
    self.run += 4
    player.team_run += 4

  def hit_six(self):
    self.run += 6
    player.team_run += 6

print(player.team_run)
rohit = player(0)
kohli = player(0)

rohit.hit_six()
rohit.hit_four()
rohit.hit_four()

kohli.hit_six()
kohli.hit_four()

print("Rohit:",rohit.run)
print("Kohli:",kohli.run)
print("Team Run:",player.team_run)
print("Team Run:",rohit.team_run)

0
Rohit: 14
Kohli: 10
Team Run: 24
Team Run: 24

**CLASS METHOD**

In [ ]:
class Student:

  uni_name = 'Northern Univeristy'

  def __init__(self, name, id):
      self.name = name     #instance variable
      self.__id = id        #instance variable

  def view(self):
    print("Name:", self.name,"Id:", self.__id, Student.uni_name)

  @classmethod
  def up_uni_name(cls, u_name):
    print("CLASS METHOF IS CALLED")
    cls.uni_name = u_name

#=================================================
s1 = Student("tusher",101)
s2 = Student("rahim",102)
s1.view()
s2.view()

Student.up_uni_name("NUB")
s1.view()
s2.view()

Name: tusher Id: 101 Northern Univeristy
Name: rahim Id: 102 Northern Univeristy
Name: tusher Id: 101 NUB
Name: rahim Id: 102 NUB

In [ ]:
# constructor overloading by class method
class Student:

  uni_name = 'Northern Univeristy'

  def __init__(self, name, id):
      self.name = name     #instance variable
      self.__id = id        #instance variable

  def view(self):
    print("Name:", self.name,"Id:", self.__id, Student.uni_name)

  @classmethod
  def up_uni_name(cls, u_name):
    cls.uni_name = u_name

  @classmethod
  def from_string(cls, info):
   name, id = info.split('-')
   obj = cls(name, id)
   return obj

#=================================================
s1 = Student("tusher",101)
s2 = Student.from_string("rahim-102")    # from_string is class method that's why is called by reference of class
s1.view()
s2.view()

Name: tusher Id: 101 Northern Univeristy
Name: rahim Id: 102 Northern Univeristy

**STATIC METHOD**

In [ ]:
# constructor overloading by class method
class Student:

  uni_name = 'Northern Univeristy'

  def __init__(self, name, id):
      self.name = name     #instance variable
      self.__id = id        #instance variable

  def view(self):
    print("Name:", self.name,"Id:", self.__id, Student.uni_name)

  @classmethod
  def up_uni_name(cls, u_name):
    cls.uni_name = u_name

  @staticmethod
  def check_department(id):
    if id [4:6]   == "01" : print('cse')
    elif id [4:6] == "02" : print('eee')


#=========================================
Student.check_department("41230100923")
s1 = Student("tusher", 41230100823)
s2 = Student("rahim",41230200788)
Student.check_department("41230100823")

cse
cse

**PYTHON INHEITANCE**

In [ ]:
# SINGLE INHERITANCE
class animal:

  def __init__(self, name):
    self.name = name

  def eat(self):
    print(self.name,'is eating')

#=================================================
class dog(animal):

  def bark(self):
    print(self.name,'is barking')

#==================================================
a1 = animal('jack')
d1 = dog('lover ')
d1.bark()
d1.eat()
a1.eat()
#a1.bark()                # output: 'animal' object has no attribute 'bark'

lover  is barking
lover  is eating
jack is eating

In [ ]:
# HIERARCHICAL INHERITANCE
class student:

  def __init__(self, name, id):
      self.name = name     #instance variable
      self.id = id        #instance variable

  def view(self):
    print("Name:", self.name,"Id:", self.id)

#===============================================================================
class cseStudent(student):

  def __init__(self, name, id, labs):
    super().__init__(name,id)
    ''' self.name = name
    self.id = id  '''
    self.no_of_labs = labs

  def cry(self):
    print('cse student is crying because of',self.no_of_labs,'labs')
#==============================================================================

class bbaStudent(student):

  '''def __init__(self, name, id):
    self.name = name     #instance variable
    self.id = id        #instance variable   '''

  def party(self):
    print('all day party')
#===============================================================================

s1 = cseStudent('tusher', 11, 3)
s2 = bbaStudent('hira', 36)

#print(s1.__dict__)

s1.view()
s2.view()

s1.cry()
s2.party()

Name: tusher Id: 11
Name: hira Id: 36
cse student is crying because of 3 labs
all day party

In [ ]:
# MULTILEVEL INHERITANCE
class student:                                   # grand parent class

  def __init__(self, name, id):
      self.name = name     #instance variable
      self.id = id        #instance variable

  def view(self):
    print("Name:", self.name,"Id:", self.id)

#===============================================================================
class cseStudent(student):                      # parent class

  def __init__(self, name, id, labs):
    super().__init__(name,id)
    self.no_of_labs = labs

  def cry(self):
    print('cse student is crying because of',self.no_of_labs,'lab(s)')

#===============================================================================

class cseFresher(cseStudent):                   # child class

  def enroll_cse110(self):
    print('Enrolled in CSE-110')

#===============================================================================

s1 = cseStudent('tusher', 11, 3)
s2 = cseFresher('carol', 55, 1)

s2.view()
s1.view()
s1.cry()
s2.cry()

Name: carol Id: 55
Name: tusher Id: 11
cse student is crying because of 3 lab(s)
cse student is crying because of 1 lab(s)

In [ ]:
# MULTIPLE INHERITANCE

class a:
  def __init__(self):
    print('__init__ of class a')

  def method1(self):
    print('method1 of class a')

#===============================================================================

class b:
  def __init__(self):
    print('__init__ of class b')

  def method1(self):
    print('method1 of class b')

#===============================================================================

class c(a,b):
  def __init__(self):
    #super().__init__()
    #b.__init__(self)

    print('__init__ of class c')

  def method2(self):
    print('method2 of class c')

#===============================================================================

c1 = c()
c1.method1()
c1.method2()
b.method1(c)

__init__ of class c
method1 of class a
method2 of class c
method1 of class b

In [ ]:
# VARIABLE OVERRIDING
class animal:

  def __init__(self, name):
    self.name = name

  def eat(self):
    print(self.color,self.name,'is eating')

#=================================================
class dog(animal):

  def __init__(self, name, color):
    super().__init__(name)
    self.color = color

  def bark(self):
    print(self.color,self.name,'is barking')

#==================================================
d1 = dog('Rover', 'Brown')
print(d1.__dict__)
d1.bark()
d1.eat()

{'name': 'Rover', 'color': 'Brown'}
Brown Rover is barking
Brown Rover is eating

In [ ]:
# METHOD OVERRIDING
class a:                               #parent class
  def __init__(self):
    print('__init__ of class a')

  def method1(self):
    #print('always study')
    print('olpo study')
  def method2(Self):
    print('you will get all of my property and methods')

#===============================================================================

class b(a):                            # derived class
  def __init__(self):
    pass
    #print('__init__ of class b')

  def method1(self):
    super().method1()
    print('always party')

#===============================================================================
b1 = b()
b1.method1()
b1.method2()

olpo study
always party
you will get all of my property and methods